@using Hospital.Dtos

@{
    ViewData["Title"] = "List";
}

<h1>Patient</h1>

@model List<PatientDto>
<script>
    function Delete() { return confirm("Silmek istediğinden emin misin ?") }

</script>

<a asp-controller="Patient" asp-action="Add" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Create</a>

<table class="table table-striped">
    <thead>
        <tr>

            <th scope="col"> Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Identity Number </th>
            <th scope="col">Phone</th>
            <th scope="col">E-Mail</th>
            <th scope="col">Actions</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr id="@item.Id">
                <td>@item.Name</td>
                <td>@item.LastName</td>
                <td>@item.IdentityNumber</td>
                <td>@item.Phone</td>
                <td>@item.Email</td>

                <td> <a href="Delete/@item.Id" onclick="return Delete();" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Delete </a>  &nbsp;
                     <a href="Update/@item.Id" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i> Edit</a> 
                </td>

            </tr>
        }


    </tbody>
</table>



