@using Hospital.Dtos

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>
@model PatientDto


<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-6">
            <div class="col-form-label">Name </div>
            <input asp-for="Name" class="form-control" value="@Model.Name" />
            <div class="col-form-label"> Last Name </div>
            <input asp-for="LastName" class="form-control" value="@Model.LastName" />
            <div class="col-form-label">Identity Number </div>
            <input asp-for="IdentityNumber" class="form-control" value="@Model.IdentityNumber" />
            <div class="col-form-label">Phone</div>
            <input asp-for="Phone" class="form-control" value="@Model.Phone" />
            <div class="col-form-label">E-Mail </div>
            <input asp-for="Email" class="form-control" value="@Model.Email" />
            <div class="col-form-label">Illness </div>
            <input asp-for="Illness" class="form-control" value="@Model.Illness" />
            <div class="col-form-label">Diagnosis </div>
            <input asp-for="Diagnosis" class="form-control" value="@Model.Diagnosis" />
            <div class="col-form-label">Policilinic</div>
            <select class="form-control" asp-for="Policlinic" asp-items="ViewBag.Policlinics"></select>
            <div class="col-form-label">Personells</div>
            <select class="form-control" asp-for="Personell" asp-items="ViewBag.Personells"></select>
            <br />

            <input type="submit" value="Kaydet" class="btn btn-primary" />

        </div>


    </div>

</form>

