@using Hospital.Dtos

@{
    ViewData["Title"] = "Edit";
}

<h1>Add Diagnosis</h1>

@model PatientDto

@if (ViewBag.Message != null)
{
    @if (ViewBag.Personell == false)
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Message
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Message
        </div>
    }

}

<form method="post">

    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-6">
                    <div class="col-form-label">Name</div>
                    <input asp-for="Name" class="form-control" value="@Model.Name" required disabled />
                </div>
                <div class="col-6">
                    <div class="col-form-label">Last Name</div>
                    <input asp-for="LastName" class="form-control" value="@Model.LastName" required disabled />
                </div>
            </div>
            <div class="row">
                <div class="col-6">
            <div class="col-form-label">Identity Number </div>
            <input asp-for="IdentityNumber" class="form-control" value="@Model.IdentityNumber" required disabled />
                </div>
                <div class="col-6">
            <div class="col-form-label">Phone</div>
            <input asp-for="Phone" class="form-control" value="@Model.Phone" required disabled />
                </div>
            </div>
           
            <div class="col-form-label">E-Mail </div>
            <input asp-for="Email" class="form-control" value="@Model.Email" required disabled />
            <div class="col-form-label">Illness </div>
            <input asp-for="Illness" class="form-control" value="@Model.Illness" required disabled />
            <div class="col-form-label">Diagnosis </div>
            <input asp-for="Diagnosis" class="form-control" value="@Model.Diagnosis" required />
            <div class="col-form-label">Policilinic</div>
            <select class="form-control" asp-for="Policlinic" asp-items="ViewBag.Policlinics" required disabled></select>
            <div class="col-form-label">Personells</div>
            <select class="form-control" asp-for="Personell" asp-items="ViewBag.Personells" required disabled></select>
            <br />

            <button type="submit" value="Save" class="btn btn-primary" />
            <i class="fa-regular fa-floppy-disk"> </i> Save </button>

        </div>


    </div>

</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $(".alert").fadeOut("slow", function () {
                $(this).remove();
            });
        }, 2000);
    });
</script>