@using Hospital.Dtos

@{
    ViewData["Title"] = "PrescriptionReceptionDetail";
}

<h1>PrescriptionReceptionDetail</h1>


@model List<PrescriptionDto>



<table class="table table-striped">
    <thead>
        <tr>

            <th scope="col"> Patient Name</th>
            <th scope="col">Doctor Name</th>
            <th scope="col">Create Date </th>
            <th scope="col">Prescription Description</th>
            <th scope="col">Show Medicine <th>


        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr id="@item.Id">
                <td>@item.PatientName</td>
                <td>@item.DoctorName</td>
                <td>@item.CreteDate</td>
                <td>@item.Description</td>

                <td> <a asp-controller="Prescription" asp-action="ShowMedicines" asp-route-prescriptionId="@item.Id" class="btn btn-info" style="color:white"><i class="fa-solid fa-prescription-bottle-medical"></i>Add Medicine</a></td>

            </tr>
        }


    </tbody>
</table>