@using Hospital.Dtos

@{
    ViewData["Title"] = "AllList";
}
@model List<PersonellDto>

<h1>Personell</h1>
<script>
    function Delete() {
        var button = event.target.closest('a');
        var deleteMessage = button.getAttribute('id') + " Are you sure you want to permenent delete this item ?";
        
        return confirm(deleteMessage)
    }

</script>

<a asp-controller="Personell" asp-action="Add" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Create</a>

<table class="table table-striped">
    <thead>
        <tr>

            <th scope="col"> Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Identity Number </th>
            <th scope="col">Departman</th>
            <th scope="col">Title</th>
            <th scope="col">Phone</th>
            <th scope="col">E-Mail</th>
            <th scope="col">Status</t>
            <th scope="col">Actions</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr id="@item.Id">
                <td>@item.Name</td>
                <td>@item.LastName</td>
                <td>@item.IdentityNumber</td>
                <td>@item.Departman</td>
                <td>@item.Title</td>
                <td>@item.Phone</td>
                <td>@item.Email</td>
                <td>@item.IsDeleted</td>
                <td>
                    <a href="Remove/@item.Id" onclick="return Delete();" id="@item.Name" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Delete </a>  &nbsp;
                    <a href="Update/@item.Id" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i> Edit</a> &nbsp;
                    <a href="Detail/@item.Id" class="btn btn-warning" style="color:white"><i class="fa-solid fa-circle-info"></i> Detail</a>
                </td>

            </tr>
        }


    </tbody>
</table>



