@using Hospital.Dtos

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

@model PersonellDto

@if (ViewBag.Personell == false)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Message
    </div>
}
@if (ViewBag.Message != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Message
    </div>
}
<form method="post">
    

    <div class="row">
        <div class="col-6">
            <div class="col-form-label" >Name</div>
            <input asp-for="Name" class="form-control" value="@Model.Name"required/>
            
            <div class="col-form-label">Last Name</div>
            <input asp-for="LastName" class="form-control" value="@Model.LastName" required />
            
            <div class="col-form-label">Identity Number </div>
            <input asp-for="IdentityNumber" class="form-control" value="@Model.IdentityNumber" required />
            
            <div class="col-form-label">Phone </div>
            <input asp-for="Phone" class="form-control" value="@Model.Phone" required />
            
            <div class="col-form-label">E Mail </div>
            <input asp-for="Email" class="form-control" value="@Model.Email" required />
            
            <div class="col-form-label">Title </div>
            <select class="form-control" asp-for="Title" asp-items="ViewBag.Titles" required></select>
            
            <div class="col-form-label">Departman </div>
            <select class="form-control" asp-for="Departman" asp-items="ViewBag.Departman" required></select>
            <br />

            <button type="submit" value="Save" class="btn btn-primary" />
            <i class="fa-regular fa-floppy-disk"> </i> Save </button>

        </div>


    </div>

</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $(".alert").fadeOut("slow", function () {
                $(this).remove();
            });
        }, 2000);
    });
</script>