@using Hospital.Dtos

@{
    ViewData["Title"] = "AllList";
}

@model List<InventoryDto>


<h1>Inventory</h1>
<script>
    function Delete() { return confirm("Silmek istediğinden emin misin ?") }

</script>

<a asp-controller="Inventory" asp-action="add" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Create</a>

<table class="table table-striped">
    <thead>
        <tr>

            <th scope="col"> Name</th>
            <th scope="col">Description</th>
            <th scope="col">Stock</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr id="@item.Id">
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Stock</td>
                <td>@item.IsDeleted</td>
                <td>
                    <a href="Delete/@item.Id" onclick="return Delete();" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Delete </a>  &nbsp;
                    <a href="" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i> Edit</a> 
                </td>

            </tr>
        }


    </tbody>
</table>